body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/bg1.gif');
    height: 100vh;
}
.input__area{
    width: 50rem;
    border: 1px solid #5df8db;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:852px) {
    .input__area{
        width: 100%;
    }
}

.message__text{
    width: 96%;
    font-size: larger;
    color: white;
    background:none;
    border: none;
    outline: none;
}

.bx-rocket{
    font-size: x-large;
    cursor: pointer;
}

.join__btn{
    background: none;
    border: none;
}
.view{
	font-size: large;
}

.join__title{
    font-size:var(--about-title)
}

.join__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::placeholder { 
    color: rgb(240, 240, 240);
    opacity: 1; 
}

:-ms-input-placeholder { 
    color: rgb(240, 240, 240);
}

::-ms-input-placeholder {
    color: rgb(240, 240, 240);
}

.button{
	cursor: pointer;
	display: inline-block;
	background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    padding: 1rem; 
    border: none;
	font-size: var(--small-font-size);
	border-radius: 20px;
	transition: .3s;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.condition{
    display: flex;
    align-items: center;
}

.terms{
    font-size: medium;
    padding-left: 1vw;
    text-shadow: 0px 2px 15px white;

}

.marked{
    height: 25px;
    width: 25px;
}

.term__link{
    color: pink;
    font-weight: bolder;
    text-decoration: underline;
}