body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.policy{
    width: 90%;
}

.title{
    text-align: center;
}

.term{
    width: 90%;
    font-size: large;
}

.terms__ li{
    width: 90%;
    font-size: large;

}