<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <title>Interstellar Chat | Terms and Conditions</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/terms.css') }}">
    </head>
<body>

    <section class="policy">
        <h1 class="title">Terms and Conditions</h1>

        <br>

        <p class="term"><strong>A. </strong>We may make changes to these Terms and Conditions at any time. You are responsible for reviewing these Terms and Conditions to stay informed of updates. Your continued use of the Site represents that you have accepted such changes.</p>

        <br>

        <hr>
        <br>
        

        <p class="term"><strong>B. </strong>You may not access or use the Site for any purpose other than that for which we make the site and our services available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.</p>

        <br>

        <hr>
        <br>


        <p class="term"><strong>C. </strong>As a user of this Site, you agree not to:</p>
        <ul class="terms__">
            <li>Systematically retrieve data or other content from the Site to a compile database or directory without written permission from us</li>
            <li>
                Make any unauthorized use of the Site, including collecting usernames and/or email addresses of users to send unsolicited email or creating user accounts under false pretenses
            </li>
            <li>
                Circumvent, disable, or otherwise interfere with security-related features of the Site, including features that prevent or restrict the use or copying of any content or enforce limitations on the use
            </li>
            <li>Engage in unauthorized framing of or linking to the Site
            </li>
            <li>
                Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords
            </li>
            <li>
                Make improper use of our support services, or submit false reports of abuse or misconduct
            </li>
            <li>
                Engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools
            </li>
            <li>
                Interfere with, disrupt, or create an undue burden on the Site or the networks and services connected to the Site
            </li>
            <li>
                Attempt to impersonate another user or person, or use the username of another user
            </li>
            <li>
                Sell or otherwise transfer your profile
            </li>
            <li>
                Use any information obtained from the Site in order to harass, abuse, or harm another person
            </li>
            <li>
                Use the Site or our content as part of any effort to compete with us or to create a revenue-generating endeavor or commercial enterprise
            </li>
            <li>
                Decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Site
            </li>
            <li>
                Attempt to access any portions of the Site that you are restricted from accessing
            </li>
            <li>
                Harass, annoy, intimidate, or threaten any of our employees, agents, or other users
            </li>
            <li>
                Delete the copyright or other proprietary rights notice from any of the content
            </li>
            <li>
                Copy or adapt the Site’s software, including but not limited to Flash, PHP, HTML, JavaScript, or other code
            </li>
            <li>
                Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material that interferes with any party’s uninterrupted use and enjoyment of the Site, or any material that acts as a passive or active information collection or transmission mechanism
            </li>
            <li>
                Use, launch, or engage in any automated use of the system, such as using scripts to send comments or messages, robots, scrapers, offline readers, or similar data gathering and extraction tools
            </li>
            <li>
                Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site
            </li>
            <li>
                Use the Site in a manner inconsistent with any applicable laws or regulations
            </li>
            <li>
                Threaten users with negative feedback or offering services solely to give positive feedback to users
            </li>
            <li>
                Misrepresent experience, skills, or information about a User
            </li>
            <li>
                Falsely imply a relationship with us or another company with whom you do not have a relationship
            </li>
        </ul>

    </section>

</body>
</html>